<div>
  <div style="padding-bottom: 0;"></div>
  <div style="pointer-events: none;">
    <div class="mobile-wrapper" style="pointer-events: auto;flex: 1">
      <div id="aside-demo" class="aside-demo">
        <div style="width: 377px; height: 620px;">
          <div class="demo-preview-wrapper">
            <div class="demo-preview-header">
              <div class="demo-preview-statbar">
                <img width="350Px" alt="presentation" src="https://os.alipayobjects.com/rmsportal/VfVHYcSUxreetec.png" style="margin: 0 2px;">
              </div>
              <div style="height: 40px;">
                <div class="url-box">{{demoUrl}}</div>
              </div>
            </div>
            <section>
              <iframe id="demoFrame" name="demoFrame" title="antd-mobile" id='MainIframe' [src]="safeUrl" style="width: 377px; height: 548px; border-top: none; border-right: 1px solid rgb(247, 247, 247); border-bottom: 1px solid rgb(247, 247, 247); border-left: 1px solid rgb(247, 247, 247); border-image: initial; box-shadow: rgb(235, 235, 235) 0 2px 4px;"></iframe>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


