@import '../../style/themes/default';
@import '../../style/mixins';

@tabs-prefix-cls: am-tabs;
@tabs-default-bar-prefix-cls: am-tabs-default-bar;

.@{tabs-prefix-cls} {
  &-pane-wrap {
    transform: translate3d(0, 0, 0);
    touch-action: pan-x pan-y;
  }
}

.@{tabs-default-bar-prefix-cls} {
  &-top,
  &-bottom {
    &-underline {
      left: 0;
    }
  }

  &-top {
    border-bottom: 1px solid rgba(217, 217, 217, 0.5);
    .@{tabs-default-bar-prefix-cls} {
      &-tab::after {
        height: 0 !important;
      }
    }
  }
  &-bottom {
    border-top: 1px solid rgba(217, 217, 217, 0.5);
    .@{tabs-default-bar-prefix-cls} {
      &-tab::before {
        height: 0 !important;
      }
    }
  }
  &-left {
    border-right: 1px solid rgba(217, 217, 217, 0.5);
    .@{tabs-default-bar-prefix-cls} {
      &-tab::after {
        width: 0 !important;
      }
    }
  }
  &-right {
    border-left: 1px solid rgba(217, 217, 217, 0.5);
    .@{tabs-default-bar-prefix-cls} {
      &-tab::before {
        width: 0 !important;
      }
    }
  }
}


.@{tabs-default-bar-prefix-cls}-left,
.@{tabs-default-bar-prefix-cls}-right {
  .@{tabs-default-bar-prefix-cls}-underline {
    top: 0;
  }
}