<div class="am-drawer-sidebar" [ngStyle]="sidebarStyleFinal" id="sidebar">
  <ng-template [ngTemplateOutlet]="sidebar"></ng-template>
</div>
<div
  role="presentation"
  class="{{ prefixCls }}-overlay"
  ref="overlay"
  [ngStyle]="overlayStyleFinal"
  (click)="onOverlayClicked()"
></div>
<div class="{{ prefixCls }}-content" [ngStyle]="contentStyleFinal" ref="content">
  <div
    *ngIf="touch && touchSupported && !open && !docked && enableDragHandle"
    id="dragHandle"
    class="{{ prefixCls }}-draghandle"
    [ngStyle]="dragHandleStyle"
    (touchstart)="onTouchStart($event)"
    (touchmove)="onTouchMove($event)"
    (touchend)="onTouchEnd()"
    (touchcancle)="onTouchEnd()"
  ></div>
  <ng-content></ng-content>
</div>
