<div [ngStyle]="{ order: (0 + 7 - WEEK_START) % 7 }" class="cell">{{ week[0] }}</div>
<div [ngStyle]="{ order: (1 + 7 - WEEK_START) % 7 }" class="cell">{{ week[1] }}</div>
<div [ngStyle]="{ order: (2 + 7 - WEEK_START) % 7 }" class="cell">{{ week[2] }}</div>
<div [ngStyle]="{ order: (3 + 7 - WEEK_START) % 7 }" class="cell">{{ week[3] }}</div>
<div [ngStyle]="{ order: (4 + 7 - WEEK_START) % 7 }" class="cell">{{ week[4] }}</div>
<div [ngStyle]="{ order: (5 + 7 - WEEK_START) % 7 }" class="cell">{{ week[5] }}</div>
<div [ngStyle]="{ order: (6 + 7 - WEEK_START) % 7 }" class="cell">{{ week[6] }}</div>
