<ListItem [className]="'am-radio-item ' + (disabled ? 'am-radio-item-disabled' : '')"
          [extra]="radio"
          [disabled]="disabled"
          (onClick)="onRadioItemClick($event)"
          [thumb]="thumb"
          [arrow]="arrow"
          [align]="align"
          [error]="error"
          [multipleLine]="multipleLine"
          [wrap]="wrap"
          [platform]="platform"
>
  <ng-content></ng-content>
</ListItem>
<ng-template #radio>
  <label Radio
         [name]="name"
         [value]="value"
         [checked]="checked"
         [disabled]="disabled"
         (onChange)="change($event)"
  ></label>
</ng-template>
