<div class="{{prefixCls}}-handler-wrap">
    <span role="button"
          class="{{prefixCls}}-handler {{prefixCls}}-handler-up"
          [ngClass]="upDisableCls"
          (click)="onIncrease()">
          <Icon class="{{prefixCls}}-icon" [type]="'plus'"
                [size]="'xxs'">
          </Icon>
    </span>
    <span role="button"
          class="{{prefixCls}}-handler {{prefixCls}}-handler-down"
          [ngClass]="downDisableCls"
          (click)="onDecrease()">
          <Icon class="{{prefixCls}}-icon" [type]="'minus'"
                [size]="'xxs'">
          </Icon>
    </span>
</div>
<div class="{{prefixCls}}-input-wrap">
    <input class="{{prefixCls}}-input"
           style="outline:none"
           [disabled]="disabled"
           [readonly]="readOnly"
           [autocomplete]="'off'"
           [max]="max"
           [min]="min"
           [(ngModel)]="value"
           (change)="inputChange($event)">
</div>